*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
!api/lib
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Hydrogen
.ropeproject

# Local Data
local_data/*

# Mac
.DS_Store

# vim
*.swp
*.swo
