# Py Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
!api/lib
__pycache__

# Large files
./tutorials/.Wallice/basics/loops/*
./code\ samples/.Wallice/*

# Installer logs
pip-log.txt


# Unit test / coverage reports
.coverage
.tox
nosetests.xml


# Hydrogen
.ropeproject


# Rocket repl file
.rocket_repl_history 
config.rckt

# Mac
.DS_Store


# vim
*.swp
*.swo

# Todo
TODO.txt
